<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="error">
      <div>
        <h1>USER ALREADY EXISTS</h1>
      </div>
      <div>
        <form action="/goToMainPage">
          <button type="submit">GO BACK TO MAIN PAGE</button>
        </form>
      </div>
    </div>
  </body>
</html>
