<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <nav>
      <label class="logo">COLD & YUMMY</label>
      <ul>
        <button><a href="#">HOME</a></button>
        <li>
          <form action="getTop">
            <button type="submit">CHECK TOP</button>
          </form>
        </li>
      </ul>
    </nav>

    <div class="main">
      <div>
        <h3 for="">VOTE FOR YOUR FAVOURITE FLAVOR</h3>
      </div>

      <div>
        <form action="/sendChosenIcecream" method="POST">
          <input
            required
            type="text"
            name="name"
            placeholder="Enter your name"
          />
          <input
            required
            type="text"
            name="email"
            placeholder="Enter your email"
          />

          <select class="select" name="getSingleIcecream" id="">
            <option value="">--SELECT ONE--</option>
            <option value="Mango Cats">Mango Cats</option>
            <option value="Vanilla">Vanilla</option>
            <option value="Sour Shrimp">Sour Shrimp</option>
            <option value="Candy cream">Candy cream</option>
            <option value="Perfect Pear">Perfect Pear</option>
            <option value="Death Bean">Death Bean</option>
          </select>

          <button type="submit">VOTE</button>
        </form>
      </div>

      <div class="products">
        <% for (let item of items){ %>
        <article class="item">
          <figure>
            <img src="<%= item.image %>" alt="" />
          </figure>
          <h3><%= item.name %></h3>
        </article>

        <% } %>
      </div>
    </div>
  </body>
</html>
