<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <nav>
      <label class="logo">COLD & YUMMY</label>
      <ul>
        <li>
          <form action="/">
            <button type="submit">HOME</button>
          </form>
        </li>
      </ul>
    </nav>

    <div class="main">
      <h3>MOST FAVORIT FLAVOR</h3>
      <ol>
        <% for(let list of topList){ %>
        <li><%= list[0]%> : <%= list[1]%></li>
        <% } %>
      </ol>
    </div>
  </body>
</html>
