<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% for(let list of topList){ %>
    <h1 value="<%=list.list_id %>"></h1><%= list.chosenIcecream %></h1>
    <% } %>

    <form action="/goToMainPage">
        <button type="submit"> GO BACK TO MAIN PAGE</button>
    </form>
  </body>
</html>
