* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  background-image: url(../img/body.jpeg);
  background-size: cover;
}

.main,
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #93dee1;
  width: 50%;
  margin: 0 auto;
}

select {
  border: 1px solid blue;
}

input {
  padding: 0.2rem;
  border: 1px solid blue;
}

.error {
  padding: 1rem;
}

.main div {
  padding: 2rem;
}

nav {
  background: #73ced1;
  width: 50%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.favorit {
  padding: 1rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  gap: 50px;
}

img {
  width: 10rem;
  height: 6rem;
  border: 2px solid #73ced1;
}

h3 {
  color: black;
}
